.pizzaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizzaCard > img {
  width: 100%;
}

.pizzaCard > span {
  margin: 10px 0 14px;
}

.pizzaType {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 14px;
  padding: 3px;
  width: 100%;
}

.pizzaType > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pizzaType > div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
