.pizzas {
  margin: 40px 0 60px;
  display: grid;
  --piza-card-min-size: 180px;
  grid-template-columns: repeat(auto-fill, minmax(var(--piza-card-min-size), 1fr));
  grid-gap: 50px;
}

.pizzas > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizzas > div > img {
  width: 100%;
  /* add margin as images as not centered */
  margin-left: 20px;
}
